@charset "UTF-8";

body{
	background: #ffffff;
}

a{color:#aa0000;text-decoration:none;}
a:hover{text-decoration:underline;}

.container{width:1150px;margin:0 auto;}
.container:after{content:'';display:block;clear: both;}

@media only screen and (max-width: 1150px) {
	.container{width:100%;}
}

#UserMessageBox{
	position:fixed;
	z-index:10000;
	top:10px;
	right:10px;
	width:600px;
}

header{text-align:center;background: #202020;}
header ul{}
header ul li{float:left;}
header ul li a{display:block;padding:14px 30px;font-size: 1.2em;color:#eee;}
header ul li a:hover{text-decoration:none;}
header ul li.logo a{color:#E1E400;font-size:1.4em;width:180px;}


footer{
	text-align:right;
	margin:20px 0 0 0;
	border-top:1px solid #ddd;
	padding:10px 0 0 0;
}

#main{position:relative;}

ul.leftmenu{}
ul.leftmenu li a{display:block;padding:0 10px;line-height:2.6em;font-size:1.4em;text-align:right;color:#333333;transition: background-color 0.2s;}
ul.leftmenu li a:hover{background:#eee;text-decoration:none;color:#aa0000;}

.gridtest .col{background:#ddd;text-align:center;}

.homebox{
	background:#E1E400 ;
	height:600px;
	text-align:center;
	padding-top:200px;
}
.homebox h1{font-size:3em;}