@charset "UTF-8";

body{
	background: #222222;
	color:#eee;
}

a{color:#ff9900;text-decoration:none;}
a:hover{text-decoration:underline;}

.container{width:1150px;margin:0 auto;}
.container:after{content:'';display:block;clear: both;}

@media only screen and (max-width: 1150px) {
	.container{width:100%;}
}

#UserMessageBox{
	position:fixed;
	z-index:10000;
	top:10px;
	right:10px;
	width:600px;
}

.wrapper, .wrapper > div{margin-top:0;margin-bottom:0;}

h1.logo{text-align:center;width: 140px;margin: 20px auto;height:100px;}
h1.logo a{color:#fff;}
h1.logo img{width:100%;}


.menu ul li a{
	display: block;
	padding: 0.4em;
	font-size: 1.1em;
	color: #aaa;
	border-bottom: 1px solid #333;
	margin: 0 10px;
}
.menu ul li a:hover, .menu ul li a.current{
	color:#f90;
	background:#333;
	text-decoration:none;
	padding-left:20px;
	font-weight:bold;
	transition-property: background, color, padding-left;
  	transition-duration: 300ms;
}
.menu .modeSelector{text-align:center;margin:20px 0;}
.menu ul{}
.menu ul li h3{font-size: 1.2em;text-align:center;}
.menu .buttonsBar{text-align:center;margin:40px 0;}
.content{color:#000;padding:20px 0;display:none;}

header{background:#ffffff;padding:10px;color:#111; text-align:center;}


footer{font-size:0.9em;text-align:right;padding:0 10px;}

.githublink{position: absolute;
top: 0;
right: 0;}